rect {
  height: 10px;
}

rect.container {
  fill: #DEDEDE;
}

rect.filled.belonging {
  fill: #04DE8C;
}

rect.filled.exclusion {
  fill: #F22813;
}

rect.positive.belonging {
  fill: url(#diagonalHatch);
}

rect.negative.belonging {
  fill: url(#diagonalHatch);
}

rect.positive.exclusion {
  fill: url(#diagonalHatch);
}

rect.negative.exclusion {
  fill: url(#diagonalHatch);
}

.plop-in {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeinmeter;
  animation-duration: 0;
}

@keyframes fadeinmeter {
  0%  {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-out-meter {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeinoutmeter;
  /* animation-delay needs to be placed in tsx */
  /* animation-duration needs to be placed in tsx */
}

@keyframes fadeinoutmeter {
  0%  {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
