@keyframes tear {
  /* modified from https://www.reddit.com/r/svg/comments/1e3qehg/svg_animation_calendar_like/ */
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
  10% {
    transform: rotate(9deg) translateY(20px);
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  70% {
    transform: rotate(-10deg) translateY(200px);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateY(400px);
    opacity: 0;
  }
}

.month-svg {
  overflow: visible;
}

.page.old-month {
  animation: tear 800ms linear forwards;
  animation-delay: 0s;
  display: block;
}

.page rect {
  width: 960px;
  height: 704px;
  stroke: #213547;
  fill: #ffffff;
}

.page text {
  font-family: Inter, Arial;
  font-size: 128px;
  fill: #213547;
  text-anchor: middle;
}
.calendar-bar {
  width: 1024px;
  height: 10px;
  fill: #213547;
}

.calendar-perforate {
  width: 960px;
  height: 4px;
  stroke: #213547;
  stroke-width: 4px;
  stroke-dasharray: 64 64;
  fill: transparent;
}
