@keyframes tear {
  /* modified from https://www.reddit.com/r/svg/comments/1e3qehg/svg_animation_calendar_like/ */
  0% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
  10% {
    transform: rotate(9deg) translateY(2.5px);
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  70% {
    transform: rotate(-10deg) translateY(32px);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateY(64px);
    opacity: 0;
  }
}

.month-svg {
  overflow: visible;
}

.page.old-month {
  animation: tear 800ms linear forwards;
  animation-delay: 0s;
  display: block;
}

.page rect {
  width: 120px;
  height: 88px;
  stroke: #DEDEDE;
  fill: #ffffff;
}

.page text {
  font-family: Inter, Arial;
  font-size: 16px;
  fill: #213547;
  text-anchor: middle;
}
.calendar-bar {
  width: 128px;
  height: 1.5px;
  fill: #213547;
}

.calendar-perforate {
  width: 120px;
  height: 0.5px;
  stroke: #213547;
  stroke-width: 0.5px;
  stroke-dasharray: 8 8;
  fill: transparent;
}
