#root {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

/* .card {
  padding: 2em;
} */

.fade-in-text {
  opacity: 0.04;
  animation-fill-mode: forwards;
  animation-name: fadeintext;
  animation-duration: 300ms;
}

@keyframes fadeintext {
  0%  {
    opacity: 0.04;
  }
  100% {
    opacity: 1;
  }
}
