#root {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
}

.debug {
  border: 1px solid gray;
}

/* .card {
  padding: 2em;
} */

.fade-in-text {
  opacity: 0.04;
  animation-fill-mode: forwards;
  animation-name: fadeintext;
  animation-duration: 300ms;
}

@keyframes fadeintext {
  0%  {
    opacity: 0.04;
  }
  100% {
    opacity: 1;
  }
}

.plop-in {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeinmeter;
  animation-duration: 0;
}

.fade-in-meter {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeinmeter;
  animation-duration: 300ms;
}

@keyframes fadeinmeter {
  0%  {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-out-meter {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeinoutmeter;
  animation-duration: 300ms;
}

@keyframes fadeinoutmeter {
  0%  {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
